@media screen and (min-device-width:1100px) and (max-device-width:1366px) {
    .lw{
        width: -webkit-fill-available;
    }
    .col-lg-3 {
        width: 33% !important;
    }
}
@media screen and (min-device-width:1400px) and (max-device-width:1500px) {
    .lw{
        width: -webkit-fill-available;
    }
    .col-lg-3 {
        width: 33% !important;
    }
}
@media only screen and (min-device-width:768px) and (max-device-width:1024px) {
    .lw{
        width: -webkit-fill-available;
    }
    .col-lg-3 {
        width: 50% !important;
    }
    .float1{
        left: 90% !important;
    }
}
